* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #161616 0%, #66a6ff 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: rgba(4, 4, 4, 0.2);
    color: white;
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 1200px;
    width: 100%;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.app-card {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s;
}

.app-card:hover {
    transform: scale(1.05);
}

.app-card a {
    text-decoration: none;
    color: inherit;
}

.app-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.app-name {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .glass-container {
        padding: 1rem;
    }

    .app-card {
        width: 100%;
        max-width: 200px;
    }
}